/* Layout */
* {
    box-sizing: border-box;
    border: 0 none;
    margin: 0;
    padding: 0;
}
body {
    height: 100%;
    display: flex;
    flex-direction: column;
    background: #042d33;
}
.container {
    padding-left: 20%;
    padding-right: 20%;
    margin: 0 auto;
}

#main { flex: 1 0 auto; }
#header, #footer { flex: 0 0 auto; }



/* Typography */
#hamitems a {
    font-family: 'Baloo 2', cursive;
    font-weight: bolder;
    color: #fff04a	 /*teal*/;
    font-size: 1.25em; /*1.3*/
}

h1 {
    font-family: 'Londrina Solid', cursive;
    font-size: 3em;
    text-transform: uppercase;
    font-weight: 900;
    color: #F4E76E;
    padding-bottom: 0.5em;
}
h2 {
    font-family: 'Londrina Solid', cursive;
    font-size: 2.4em; /*2.3em*/
    text-transform: uppercase;
    font-weight: 400;
    color: #b8cf76;
    padding-bottom: 0.5em;
}
h6 {
    font-family: 'Baloo 2', cursive;
    font-size: 1.6em;
    font-weight: 300;
    line-height: 1.5em;
    color: #FEFEE3;
    
}
p {
    font-family: 'Baloo 2', cursive;
    font-size: 1.45em;/*1.4em*/
    font-weight: 200;
    line-height: 1.3em;
    color: #FEFEE3;
}
.production li {
    font-family: 'Baloo 2', cursive;
    font-size: 1.3em;
    font-weight: 400;
    line-height: 1.8em;
    color: #FEFEE3;
}
strong {
    color: #b8cf76;
}

#footer p {
    font-size: 1em;
}
#footer a {
    font-size: 1.1em;
    font-weight: bold;
}

/* Custom styles*/

/* Header */
.custom-shape-divider-top-1615202114 {
    position: absolute;
    top: -488px; /*-50vh;*/
    left: -68.32px; /*-7vh;*/
    right: 488px; /*50vh;*/
    width: 100%;
    overflow: hidden;
    line-height: 0;
    z-index: -1;
    transform: rotate(-30deg);
    
}

.custom-shape-divider-top-1615202114 svg {
    position: relative;
    display: block;
    width: calc(114% + 1.3px);
    height: 500px;
    transform: rotateY(180deg);
}

.custom-shape-divider-top-1615202114 .shape-fill {
    fill: #fff;
}

#header {
    background: transparent;
    padding-top: 1.2em;
}

.logo img {
    height: 65px;/*70*/
    max-width: 100%;
    float: left;  
}


#hamnav {
    width: 100%;
    text-align: right;
    padding: 1.2em 0;
    /* Optional */
    position: sticky;
    top: 0;
    right: 0;
  }
#hamnav label, #hamburger { display: none; }

ul {
    list-style: none; 
}
#hamitems li {
    display: inline-block;
    margin-left: 1em;
    padding: 0;
    font-weight: bold;
}

#hamitems a {
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.5s;
}

#hamitems .active {
    color: yellowgreen;
}


  

/* Main content */

#main {
    padding-top: 15em;
}
.about-us {
    display: flex;
    align-items: center;
    padding-bottom: 10em;
    
}
.hero-text {
    display: inline;
    width: 70vh;
    padding-right: 1em;
}
.hero-text a {
    text-decoration: none;
    color: #b8cf76;
}
.hero-img {
    display: inline-block;
    width: 30vh;
    padding-left: 1.5em;
 
}

#img-responsive {
    max-width: 470px;
    height: auto;
    z-index: 10;
    -webkit-animation: beat 4s linear;
    -moz-animation: beat 4s linear;
    animation: beat 4s linear;
    animation-timing-function: cubic-bezier(0.69, 0.1, 1, 1.6, 2, 2.3, 2.7, 3, 3.2, 3.5, 3.9);
}
@keyframes beat {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(0.9);
    }
  }
  
.habilitering {
    background:#0b4042;
    padding-top: 10em;
    padding-bottom: 10em;
    display: flex;
    justify-content: center;
    text-align: right;  
    padding-left: 0 !important;
    margin-left: -25vh !important;
    

}
.habilitering img {
    width: 600px;
    height: auto;
    -webkit-animation: 4s linear 2s infinite running move_spin;
    -moz-animation: 4s linear 2s infinite running move_spin;
    -ms-animation: 4s linear 2s infinite running move_spin;
    -o-animation: 4s linear 2s infinite running move_spin;
    animation: 4s linear 2s infinite running move_spin;
    animation-timing-function: cubic-bezier(1.53, 4, 2.68, 4);
    animation-direction: alternate;
    
}
@-moz-keyframes move_spin  { from { margin-left: -40%; } to { margin-left: 50%; } 100% { -moz-transform: rotate(360deg);} }
@-webkit-keyframes move_spin { from { margin-left: -40%; } to { margin-left: 50%; } 100% { -webkit-transform: rotate(360deg);} }
@-o-keyframes move_spin { from { margin-left: -40%; } to { margin-left: 50%; } 100% { -o-transform: rotate(360deg);} }
@keyframes move_spin { from { margin-left: -40%; } to { margin-left: 50%; } 100% { transform: rotate(360deg);} }

.habilitering-text {
    padding-left: 2em;
}
.production {
    background:#0a7d81;
    padding-top: 10em;
    padding-bottom: 10em;
    text-align: left;
}

.production ul {
    list-style: none;
    text-align: center;
    padding-top: 0.5em;
    padding-bottom: 0.7em;
}
.icon {
    width: 60px;
    height: auto;
}

.contribution {
    background:#0b4042;
    padding-top: 10em;
    padding-bottom: 10em;
    display: flex;
    flex-flow: row wrap;
}
.responsive {
    max-width: 100%;
    height: auto;    
}
.facebook-btn {
    padding-top: 1.2em;
    display: flex;
    justify-content: right;
}
.btn {
    color: #013535;
    font-family: 'Londrina Solid', cursive;
    font-size: 20px;
    letter-spacing: 1px;
    text-decoration: none;
    background-color: #F4E76E;
    border: 1px solid #013535;
    border-radius: 30px;
    padding: 10px 15px;
    font-weight: bolder;
    opacity: 0.9;
    
}

.btn img {
    width: 20px;
    height: auto;
}

/*Footer */
#footer {
    box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.1);
    box-shadow: inset -5em 1em #35575c;
    padding: 30px 0;
}


/* Media Queries */
/*hover effects*/
@media (hover: hover) and (pointer: fine) {
    #hamitems a:hover {
        color: yellowgreen;
        /*transform:  translateY(+15px);*/
        transform: rotate(-5deg);
    }
    .btn:hover {
        opacity: 1;
        text-decoration: none;
        color: #013535;
        background-color: #f4e76e;
    }
}    

@media screen and (max-width: 767px){

    .container {
        padding-left: 10%;
        padding-right: 10%;
    } 
    
    
    /* Show Hamburger Icon */
    #hamnav label { 
          display: inline-block; 
          color: yellowgreen;
          background: #35575c31;
          border-radius: 5%;
          font-style: none;
          font-weight: bolder;
          font-size: 1.5em;
          padding: 10px;
          margin-bottom: 0.5em;
    }
      
    /* Break down menu items into vertical */
    #hamitems li {
          box-sizing: border-box;
          display: block;
          width: 100%;
          /*border-top: 1px solid #FEFEE3;*/
    }
      
    /* Toggle Show/Hide Menu */
    #hamitems { display: none; }
    #hamnav input:checked ~ #hamitems { display: block; }
    #hamnav input:checked ~  #hamitems li:hover { background: #35575c31; }
    #hamnav input:checked ~  #hamitems a:hover { transform: none; }


    /* Typography */
    #hamitems a { 
        font-size: 1.125em;
    }

    h1 {
        font-size: 2.125em;
        letter-spacing: 0.5px;
        font-weight: 900;  
        padding-bottom: 0.5em;
    }
    h2 {
        font-size: 1.8em; 
        padding-bottom: 0.5em;
    }
    h6 {
        font-size: 1.2em;
        line-height: 1.5em;  
    }
    p {
        font-size: 1.1em;
        line-height: 1.3em;
        
    }
    .production li {
        font-size: 1.2em;
        line-height: 1.8em;
        
    }
    .btn {
        font-size: 16px;
        padding: 8px 12px;
    }
    #footer p {
        font-size: 0.9em;
    }
    #footer a {
        font-size: 1.1em;
        font-weight: bold;
    }

    /* Rest */

    #main { padding: 2em 0 1em; }

    #header h1 {
        float: none;
        padding: 0.5em 0;
    }

    .custom-shape-divider-top-1615202114 {
        position: absolute;
        top: -115px; 
        left: -45px;
        width: 100%;
        overflow: hidden;
        line-height: 0;
        z-index: -1;
        transform: rotate(-45deg);
        
    }
    
    .custom-shape-divider-top-1615202114 svg {
        position: relative;
        display: block;
        width: calc(184% + 1.3px);
        height: 230px;
        transform: rotateY(180deg);
    }
    

    .logo img {
        height: 45px;/*70*/
        max-width: 100%;
        float: left;  
    }
    
    .about-us {
        padding-top: 2.5em;
        padding-bottom: 5em;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
    }
    .hero-text {
        display: inline;
        width: 100%;
        padding-right: 0;
        
    }
    .hero-img {
        display: inline-flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        padding-top: 2em;
        padding-left: 0;
        
    }
    #img-responsive {
        max-width: 300px;
    }
    .habilitering {
        flex-flow: column-reverse;
        text-align: right;   
        padding-top: 5em;
        padding-bottom: 4em;
             
        padding-left: 0 !important; /*10%*/
        margin-left: 0 !important;        
    }
    .habilitering-text {
        padding-left: 10%;
        
    }
    .animated {
        margin-left: -22vh !important;
    }
    .habilitering img {
        width: 500px;
    }
    @-moz-keyframes move_spin  { from { margin-left: -50%; } to { margin-left: 50%; } 100% { -moz-transform: rotate(360deg);} }
    @-webkit-keyframes move_spin { from { margin-left: -50%; } to { margin-left: 50%; } 100% { -webkit-transform: rotate(360deg);} }
    @-o-keyframes move_spin { from { margin-left: -50%; } to { margin-left: 50%; } 100% { -o-transform: rotate(360deg);} }
    @keyframes move_spin { from { margin-left: -50%; } to { margin-left: 50%; } 100% { transform: rotate(360deg);} }

    .production {
        padding-top: 5em;
        padding-bottom: 5em;
    }
    .icon {
        width: 45px;
    }
    .contribution {
        padding-top: 5em;
        padding-bottom: 5em;
        justify-content: right;
        text-align: right;
    }
    .responsive {
        max-width: 100%;
        height: auto;
        padding-top: 1em;    
    }
    .btn {
        opacity: 1;
    }
    .btn img {
        width: 16px;
        height: auto;
    }
    #footer {
        text-align: left;
    }
    #footer {
        box-shadow: none;
    }
    #footer p { padding: 1em 0; }
    #footer a { font-size: 1em;}
}
      
   
@media only screen and (min-width: 768px) and (max-width: 1024px) {

    .container {
        padding-left: 15%;
        padding-right: 15%;
    } 

    /* Typography */
    #hamitems a { 
        font-size: 1.15em;
    }

    h1 {
        font-size: 2.3em;
        letter-spacing: 0.5px;
        font-weight: 900;  
        padding-bottom: 0.5em;
    }
    h2 {
        font-size: 2em; 
        padding-bottom: 0.5em;
    }
    h6 {
        font-size: 1.3em;
        line-height: 1.5em;  
    }
    p {
        font-size: 1.2em;
        line-height: 1.3em;
        
    }
    .production li {
        font-size: 1.15em;
        line-height: 1.8em;
        
    }
    .btn {
        font-size: 16px;
        padding: 8px 12px;
    }
    #footer p {
        font-size: 0.9em;
    }
    #footer a {
        font-size: 1em;
        font-weight: bold;
    }
    
    /* rest */
    .custom-shape-divider-top-1615202114 {
        position: absolute;
        top: -212px; 
        left: -100px;
        width: 100%;
        overflow: hidden;
        line-height: 0;
        z-index: -1;
        transform: rotate(-45deg);
        
    }
    
    .custom-shape-divider-top-1615202114 svg {
        position: relative;
        display: block;
        width: calc(190% + 1.3px);
        height: 350px;
        transform: rotateY(180deg);
    }

    #main {
        padding-top: 8em;
    }

    .logo img {
        height: 55px;
        max-width: 100%;
        float: left;  
    }
    
    .about-us {
        padding-bottom: 6em;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
    }
    .hero-text {
        display: inline;
        width: 100%;
        padding-right: 0;
        
    }
    .hero-img {
        display: inline-flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        padding-top: 2em;
        padding-left: 0;
        
    }
    #img-responsive {
        max-width: 300px;
    }
    .habilitering {
        flex-flow: column-reverse;
        text-align: right;   
        padding-top: 6em;
        padding-bottom: 5em;
             
        padding-left: 0 !important; /*10%*/
        margin-left: 0 !important;        
    }
    .habilitering-text {
        padding-left: 15%;
        
    }
    .animated {
        padding-top: 2em;
        margin-left: -15vh !important;
        padding-left: 0 !important;
    }
    .habilitering img {
        
        width: 450px;
    }
    @-moz-keyframes move_spin  { from { margin-right: 100%; } to { margin-left: 85%; } 100% { -moz-transform: rotate(360deg);} }
    @-webkit-keyframes move_spin { from { margin-right: 100%; } to { margin-left: 85%; } 100% { -webkit-transform: rotate(360deg);} }
    @-o-keyframes move_spin { from { margin-right: 100%; } to { margin-left: 85%; } 100% { -o-transform: rotate(360deg);} }
    @keyframes move_spin { from { margin-right: 100%; } to { margin-left: 85%; } 100% { transform: rotate(360deg);} }

    .contribution {
        padding-top: 5em;
        padding-bottom: 5em;
        justify-content: right;
        text-align: right;
    }

    #footer {
        box-shadow: none;   
    }
}